{% extends 'base.html' %}

{% block content %}
<div class="container-list" id="container-list">
<!--Row with two equal columns-->
    {% for image in images.all_posts %}
    <div class="row">
        <div class="col-xl-12 col-sm-3">
            <img src="{{ image.image.url }}" alt="" style="width: 23.5rem">
             <p><span style="font-weight: bold;color: white">{{ image.author }}</span> <span style="color:white;">{{ image.image_description }}</span></p>
</div>
            {% endfor %}
    {% endblock %}
    <style>
#container-list{
    justify-content: center;
    align-content: center;

}
.btn-outline-success{
    margin: 10px;
}


    </style>
